
<section>
    <p>
        Où l’horreur rencontre le gore et le glamour, Maison Sabotage est une plateforme inclusive pour l’art du drag alternatif à Lille.
    </p>
    <p>
        Plongez dans nos spectacles et ateliers célébrant le sublime, le macabre et le merveilleux...
    </p>
</section>

<style>
    section {
        background-image: url("/images/logo.png");
    }
</style>
