---

---

<section>
    <h2>Sublime - Macabre - Merveilleux</h2>
</section>

<style>
    section {
        overflow: hidden;
        height: 100svh;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        background-image: url("/images/hero.jpg");
        background-position: center;
        background-size: cover;

        h2 {
            justify-self: flex-end;
            align-self: flex-end;
            padding: 3rem;

            font-family: "Yataghan", sans-serif;
            color: var(--primary-300);
            font-size: 2.3rem;
            line-height: 4rem;
        }
    }
</style>
