---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/Header/Header.astro';

---

<Layout>
    <Header />
    <div>
        Artistes
    </div>
	<Footer />
</Layout>
