---
import Presentation from "../components/Presentation/Presentation.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import Hero from "../components/Hero/Hero.astro";
import Billetterie from "../components/Billetterie/Billetterie.astro";
import Contact from "../components/Contact/Contact.astro";
import Footer from "../components/Footer/Footer.astro";

import img1 from "../assets/images/banner1.jpg";
import img2 from "../assets/images/banner2.jpg";
import img3 from "../assets/images/banner3.jpg";

const banner1 = `url(${img1.src})`;
const banner2 = `url(${img2.src})`;
const banner3 = `url(${img3.src})`;
---

<Layout>
    <Header />
    <Hero />
    <Billetterie />
    <div class="banner"></div>
    <Presentation />
    <div class="banner"></div>
    <Contact />
    <div class="banner"></div>
    <Footer />
</Layout>

<style define:vars={{ banner1, banner2, banner3 }}>
    .banner {
        height: 540px;
        width: 100%;

        position: relative;
        background-color: rgba(var(--color-token-700), 0.5);

        &:first-of-type::after {
            background-image: var(--banner3);
        }

        &:nth-of-type(2)::after {
            background-image: var(--banner1);
            background-size: cover;
            background-position: center 40%;
        }

        &:last-of-type:after {
            background-image: var(--banner2);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            mix-blend-mode: exclusion;
            background-attachment: fixed;
        }
    }
</style>
