---
import logo from "../../assets/images/logo.png";
import Nav from "../Nav/Nav.astro";
---

<header>
    <img
        src={logo.src}
        alt="Maison Sabotage"
        height={logo.height}
        width={logo.width}
        loading="lazy"
    />
    <h1>Maison Sabotage</h1>
    <Nav />
</header>

<style>
    header {
        position: fixed;
        z-index: 10;

        width: inherit;

        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;

        padding: 1rem 4rem;

        background-color: rgba(var(--color-token-800), 0.75);
        nav {
            height: 200px;
            aspect-ratio: 1;
        }

        h1 {
            justify-self: center;
            width: fit-content;
            font-size: 100px;
            color: var(--primary-200);

            text-shadow: 0 0 75px var(--primary-400);

            -webkit-animation: flash ease-in 5s infinite;
            -moz-animation: flash ease-in 5s infinite;
            animation: flash ease-in 5s infinite;
            animation-delay: 3s;
        }

        img {
            width: fit-content;
            height: 200px;
            width: fit-content;
            object-fit:scale-down;
            filter: invert(80%) sepia(58%) saturate(368%) hue-rotate(194deg) brightness(102%) contrast(90%) drop-shadow(0 0 75px var(--primary-400));
        }
    }

    @keyframes flash {
        from {
            opacity: 1;
        }
        10% {
            opacity: 1;
        }
        11% {
            opacity: 0;
        }
        12% {
            opacity: 1;
        }
        13% {
            opacity: 1;
        }
        15% {
            opacity: 0.2;
        }
        17% {
            opacity: 1;
        }
        to {
            opacity: 1;
        }
    }
</style>
