---
const spectacles = [
    {
        title: "Drag Manor II",
        date: "01/01/2022",
        link: "",
    },
    {
        title: "Capharnaum",
        date: "02/02/2022",
        link: "15",
    },
    {
        title: "Bestaire II",
        date: "03/03/2022",
        link: "20",
    },
    {
        title: "Bonne Poire",
        date: "04/04/2022",
        link: "25",
    },
];


---

<style>
    section {
        width: 100%;
        display: grid;
        padding: 3rem;
        gap: 2rem;

        header h1 {
            color: var(--primary-100);
            padding: 0;
            font-size: 5.8rem;
            letter-spacing: 7%;
        }

        ul {
            width: 100%;
            display: grid;
        }

        li:nth-of-type(even) {
                background: linear-gradient(
                    90deg,
                    var(--primary-800) 0%,
                    var(--primary-700) 50%,
                    var(--primary-800) 100%
                );
            }

        a {
            width: 100%;
            display: grid;
            grid-template-columns: min-content 1fr min-content;

            align-items: center;
            justify-content: center;

            padding: 2rem;

            text-decoration: none;
        }

        p,
        h2 {
            text-align: center;
            color: var(--primary-100);
            padding: 0;
            font-size: 1.8rem;
            text-decoration: none;
        }

        p:nth-of-type(2) {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            padding: 0.5rem 2rem;
            background-color: var(--primary-200);
            color: var(--primary-800);
            border-radius: 100svh;

            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 100svh;
                background-color: var(--primary-800);
                transition: all 0.425s ease-in-out;
                clip-path: circle(0%);
            }


            &:hover {
                color: var(--primary-200);
                outline: 2px solid;
                box-shadow: 0 0 33px -10px var(--primary-200);

                span {
                    z-index: 1;
                }

                &::before {
                    clip-path: circle(100%);
                }
            }

            &::after {
                content: "";
                width: 1em;
                height: 1em;
                --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='m323.9 19.81l-55.2 55.15L285 91.24L272.2 104L256 87.73L19.81 323.9l45.57 45.6c28.5-14.6 56.22-11.7 72.52 4.6s19.2 44 4.6 72.5l45.6 45.6l236.1-236.1l-16.2-16.3l12.8-12.8l16.3 16.2l55.1-55.1l-45.6-45.6c-28.5 14.6-56.2 11.7-72.5-4.6s-19.2-44.02-4.6-72.52zm-16.2 93.99l33.9 34l-12.8 12.8l-33.9-34zM256 130.2L381.8 256L222.1 415.8L96.16 289.9L249.6 136.5zm0 25.4L121.6 289.9l100.5 100.5L356.4 256zm108.2 14.8l34 33.9l-12.8 12.8l-34-33.9z'/%3E%3C/svg%3E");
                background-color: currentColor;
                -webkit-mask-image: var(--svg);
                mask-image: var(--svg);
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                mask-size: 100% 100%;
            }
        }
    }
</style>


<section>
    <header>
        <h1>Billetterie</h1>
    </header>
    <ul>
    {
        spectacles.map((spectacle) => (
                <li>
                    <a href={spectacle.link}>
                        <p>{spectacle.date}</p>
                        <h2>{spectacle.title}</h2>
                        <p><span>Réserver</span></p>
                    </a>
                </li>

        ))
    </ul>
    }
</section>

