---
import "../assets/style/global.scss";
import "../assets/style/design-system.scss";
import "../assets/style/animate.scss";
import {getBaseUrl} from "../utils/getBaseUrl";

const baseUrl = getBaseUrl();
const fontUrl = `url(${baseUrl}/fonts/Yataghan-Regular.otf)`;
---


<style define:vars={{ fontUrl }}>

    @import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

    @font-face {
        font-family: 'Yataghan';
        src: var(--fontUrl) format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
        <main>
            <slot />
        </main>
	</body>
</html>
